
a{
    background-color: black;
    color: white;
}

.H{
    display: flex;
    
}
.row{
    background-color: black;
    color:white;
    display: flex;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
.col-2:hover{
    background-color: rgb(29, 28, 28);
    cursor: pointer;
}
