.LeftNavIcons{
    background-color: blue;
    color: white;
    height: 575px;
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
h3:hover{
cursor: pointer;
background-color: black;
}