<div class="row">
    
        <div class="LeftNavIcons">
            <h3 [routerLink]="compVar"> Company </h3>
            <h3> Analytics </h3>
            <h3> Pictures </h3>
            <h3> Programmes </h3>
            <h3 [routerLink]="researchVar"> Research </h3>
            <h3 [routerLink]="resourceVar"> Resources </h3>
            <div>
                
               <button (click)="sendMessage()" [routerLink]="sendVar"> click here to send data </button>
            </div>
        </div>
</div>
    


